* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  max-width: 100vw;
}

body {
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  color: #333;
  box-sizing: border-box;
  
}

/* --- HEADER --- */
